<a href="https://colab.research.google.com/github/leekwanghun323/python/blob/main/pythonbasic02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# input 입력

input()

ssss

'ssss'

In [2]:
input('당신의 이름을 입력하세요.')

당신의 이름을 입력하세요.이광훈

'이광훈'

In [3]:
id = input('아이디를 입력하세요')

아이디를 입력하세요ㄹㄹ

In [4]:
id = input('아이디를 입력하세요')
print(f'{id} 님 환영합니다.')

아이디를 입력하세요3434343
3434343 님 환영합니다.

In [5]:
age = input('당신의 나이를 입력하세요')
print(f' 당신의 나이는 {age}살 입니다.')

당신의 나이를 입력하세요545
 당신의 나이는 545입니다.

In [7]:
age = input('당신의 나이를 입력하세요')
print(f' 당신의 내년 나이는 {age+1}살 입니다.')

# input 주의점
# 언제나 항상 입력받은 모든 데이터를 문자취급한다.
# 따라서 숫자로 사용을 하고자 할때는 형변환 casting를 해주어야 계산이 가능해진다.

SyntaxError: ignored

In [8]:
age = int(input('당신의 나이를 입력하세요'))
print(type(age))
print(f' 당신의 내년 나이는 {age+1}살 입니다.')

당신의 나이를 입력하세요21
<class 'int'>
 당신의 내년 나이는 22살 입니다.

In [14]:
# 컬렉션 list tuple dict set                          *** dataframe(데이터 분석할때)
# 여러개의 데이터를 담아두는 자료형


# 리스트(list) 제일 중요함!!!
# 1. 리스트는 []를 사용하여 만든다.
# 2. 리스트는 자료형을 혼합하여 저장할 수도 있다.(장점이면서 단점이다. 왜냐하면 오류날 확률이 높다.) 한가지 자료형에는 한가지 자료형만!! 
# 3. 리스트는 인덱싱과 슬라이싱이 가능하다.
# 4. 리스트에서는 삽입/삭제/수정이 가능하다.

# 리스트를 사용하면 2,4,6,8,10 ... 여러 데이터의 모음을 간단하게 표현할 수 있다. 

num = [2,4,6,8,10]
print(num) 

li1 = [1,2,'영희','철수']
print(li1)

[2, 4, 6, 8, 10]
[1, 2, '영희', '철수']

In [13]:
# 리스트에서의 인덱싱과 슬라이싱(중요함~!!)

num = [2,4,6,8,10]
print(num[-1])

10

In [15]:
print(num[0] + num[-1])

12

In [18]:
li1 = [1,2, 'a', 'b', [1,2,3]]
print(li1[-1][0])

1

In [20]:
# 리스트에서의 슬라이싱

num = [2,4,6,8,10]
print(num[0:3])        # [시작:끝(미만):증감(생략가능)]  증감은 생략하면 1씩 증가
print(num[:3])         # 시작을 생략하면 처음부터이고, 끝을 생략하면 마지막 요소까지

[2, 4, 6]
[2, 4, 6]

In [21]:
# 리스트에서의 연산

a = [1,2,3]
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
# 리스트의 길이(갯수)

num = [2,4,6,8,10]
print(len(num))

5

In [32]:
# 리스트에서는 삽입/삭제/수정이 가능하다

# 수정
num = [2,4,6,8,10]

num[0] = 0
print(num)

# 삭제
del num[0]
print(num)

del num[2:]          # 슬라이싱 기법을 사용하여 여러 요소를 한번에 삭제한다.
print(num)

num.pop()            # pop는 마지막 항목을 하나씩 제거, 괄호안을 생략 -> 마지막 1개 삭제
print(num)

num = [2,4,6,8,10]
num.pop(0)           # 괄호안을 생략하면 마지막 요소를 날리지만 위치값을 지정하면 그 요소를 삭제
print(num)

[0, 4, 6, 8, 10]
[4, 6, 8, 10]
[4, 6]
[4]
[4, 6, 8, 10]

In [30]:
# 리스트에서의 삽입(append, insert)

a=[1,2,3]
print(a)

a.append(4)
print(a)

a.append('글자')
print(a)

a.insert(0,0)     # insert(위치, 값)
print(a)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, '글자']
[0, 1, 2, 3, 4, '글자']

In [34]:
# 튜플 tuple
# 1. 튜플는 ()를 사용하여 만든다.
# 2. 튜플는 자료형을 혼합하여 저장할 수도 있다.(장점이면서 단점이다. 왜냐하면 오류날 확률이 높다.) 한가지 자료형에는 한가지 자료형만!! 
# 3. 튜플는 인덱싱과 슬라이싱이 가능하다.
# 4. 튜플에서는 삽입/삭제/수정이 불가능하다.  immutable
# 5. 튜플은 한개의 요소로 만들때는 괜히 ,를 넣는다.

t1 = (1,2,3)
type(t1)

t2 =(1,2,'a','b')
print(t2)

(1, 2, 'a', 'b')

In [35]:
# 튜플에서의 인덱싱
t2 =(1,2,'a','b')
t2[0]

1

In [36]:
# 튜플에서의 슬라이싱
t2[:2] # 마지막은 미만 처리

(1, 2)

In [37]:
# 4. 튜플에서는 삽입/삭제/수정이 불가능하다.  immutable

t2 =(1,2,'a','b')

t2.append('c')

AttributeError: ignored

In [39]:
t2[2] = 0

TypeError: ignored

In [41]:
del t2[0]

TypeError: ignored

In [42]:
len(t2)

4

In [49]:
# 5. 튜플은 한개의 요소로 만들때는 괜히 ,를 넣는다.

li1 =[1]
print(li1)
print(len(li1))
print(type(li1))

t1 =(1)
print(t1)
#print(len(t1))
print(type(t1))


t1 =(1,)
print(t1)
#print(len(t1))
print(type(t1))

[1]
1
<class 'list'>
1
<class 'int'>
(1,)
<class 'tuple'>

In [78]:
# Quiz1
bts = ['정국','진','뷔','rm','지민','제이홉','슈가']

bts.append('길동')

bts.pop()

nums = [1,2,3,4,5]

a = max(nums)   # 최대값
b = min(nums)   # 최소값
print(a)

print(f'리스트에서의 최대값은 {a}입니다.')
print(f'리스트에서의 최소값은 {b}입니다.')

# 평균 구하기, 함수를 2개 사용해서
total = sum(nums)
result = total/5
print(f'평균은 {result}입니다')

# 날짜를 제외한 가격만 출력하기
price = ['20220602',100,300,200]

print(price[1:])

# 짝수만 출력하세요

nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[1:11:2])
print(nums[1::2])

# 거꾸로 출력
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[::-1])

#  s = "삼성 엘지 sk" 리스트로 분리하여 저장하시오 split
s = "삼성 엘지 sk"
ss = "삼성/엘지/sk"
li = s.split()
li1 = ss.split('/')
print(li)
print(li1)

5
리스트에서의 최대값은 5입니다.
리스트에서의 최소값은 1입니다.
평균은 3.0입니다
[100, 300, 200]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['삼성', '엘지', 'sk']
['삼성', '엘지', 'sk']

In [ ]:
# 딕셔너리 (Dict) 
# 1. 딕셔너리는 {}를 사용하여 만든다.
# 2. 딕셔너리는 자료형을 혼합하여 저장할 수도 있다.(장점이면서 단점이다. 왜냐하면 오류날 확률이 높다.) 한가지 자료형에는 한가지 자료형만!! 
# 3. 딕셔너리 인덱싱과 슬라이싱이 불가능하다. 순서가 없다.
# 4. 딕셔너리에서는 삽입/삭제/수정이 가능하다. mutable
# 5. 딕셔너리는 키값과 벨류값의 쌍으로 구성된다. (자바의 맵, js의 json )

In [80]:
a = {1:'hello', 2:'hi'}
print(type(a))
print(a)

<class 'dict'>
{1: 'hello', 2: 'hi'}

In [81]:
# 출력 순서가 없다. 순서가 없기 때문에 인덱싱과 슬라이싱이 불가능하다. 
# 순서가 없기 때문에 입력순서와 출력순서가 다를 수 있다. 

b = {'name':'Alice', 'age':20, 'gender':'m'}  
print(b)

{'name': 'Alice', 'age': 20, 'gender': 'm'}

In [84]:
# b[0]  # 인데싱과 슬라이싱 불가

# 따라서 딕셔너리는 키값으로만 추출할 수 있다.

b['name']  # 키값으로만 밸류값을 꺼낼 수 있다.

'Alice'

In [88]:
# 4. 딕셔너리에서는 삽입/삭제/수정이 가능하다. mutable

b = {'name':'Alice', 'age':20, 'gender':'m'} 
print(b)

del b['age']    # 삭제
print(b)

b['age2'] = 31   # 삽입
print(b)

b['age2'] = 21  # 수정
print(b)

{'name': 'Alice', 'age': 20, 'gender': 'm'}
{'name': 'Alice', 'gender': 'm'}
{'name': 'Alice', 'gender': 'm', 'age2': 31}
{'name': 'Alice', 'gender': 'm', 'age2': 21}

In [93]:
# 딕셔너리 관련 많이 사용되는 함수

# 1. keys() 키 출력 , values 갑 출력 

b = {'name':'Alice', 'age':20, 'gender':'m'} 

b.keys()       # 키값들만 모두 추축
b.values()     # 밸류값들만 모두 추축
c = b.items()  # 키와 벨류를 쌍으로 전환 
c

dict_items([('name', 'Alice'), ('age', 20), ('gender', 'm')])

In [ ]:
# 셋 (set) 
# 1. 셋은 {}를 사용하여 만든다.
# 2. 셋은 자료형을 혼합하여 저장할 수도 있다.(장점이면서 단점이다. 왜냐하면 오류날 확률이 높다.) 한가지 자료형에는 한가지 자료형만!! 
# 3. 셋은 인덱싱과 슬라이싱이 불가능하다. 순서가 없다. unordered
# 4. 셋에서는 삽입/삭제/수정이 가능하다. mutable
# 5. 셋은 중복값을 허용하지 않는다.

In [96]:
#1. 셋은 {}를 사용하여 만든다.

s1 = {1,2,3}
type(s1)

s2 = set("hello")
print(s2)

{'e', 'l', 'h', 'o'}

In [98]:
# 5. 셋은 중복값을 허용하지 않는다.
s2 = {1,1,1,2,2,3,'하나'}
print(s2)

{1, 2, 3, '하나'}

In [99]:
# 3. 셋은 인덱싱과 슬라이싱이 불가능하다. 순서가 없다. unordered
s2 = {1,1,1,2,2,3,'하나'}
s2[0]

TypeError: ignored

In [100]:
s2 = {1,1,1,2,2,3,'하나'}
l2 = list(s2)              #list로 변환
print(l2)

[1, 2, 3, '하나']

In [101]:
# 4. 셋에서는 삽입/삭제/수정이 가능하다. mutable

s2 = {1,1,1,2,2,3,'하나'}
s2.add('둘')                        # add (추가)
print(s2)

{1, 2, 3, '하나', '둘'}

In [102]:
s2.remove(2)    # 삭제할 데이터

{1, 3, '둘', '하나'}

In [103]:
# quiz 1

t = (1,2,3)
t[0] = 'a'     # 튜플은 수정이 불가능하기 때문에 오류가 난다.

TypeError: ignored

In [104]:
# if

# if 조건식 : 
#   참인경구
# else :
#   거짓인경우


money = 2000
if money >= 3000 :
  print('택시타라')    # 참
else :
  print('걸어가라')    # 거짓

걸어가라

In [106]:
money = 2000
card = True

if money >= 3000  or card :
  print('택시타라')    # 참
else :
  print('걸어가라')    # 거짓

택시타라

In [109]:
4 not in [1,2,3]  # in  있으면 true

True

In [111]:
pocket = ['paper','phone','money']

if 'money' in pocket:
  print('택시')
else:
  print('걸어')

택시

In [112]:
# if문 안에 if문을 쓰는 것은 좋지 않은 것이다. 
# 분기가 여려개일 경우 if문 안에 if문을 중처하여 사용할 수는 있지만,
# 권장하지는 않는다. 
# 따라서 분기가 여러개일 경우 elif를 사용하자. 

pocket = ['paper','phone']
card = True

if 'money' in pocket:
  print('택시')
else:
  if card:
      print('택시')
  else:
    print('걸어')

택시

In [113]:
# elif는 갯수의 제한없이 원하는 대로 넣을 수 있다.

pocket = ['paper','phone']
card = True

if 'money' in pocket:
  print('택시')
elif card:
  print('택시')
else:
  print('걸어')

택시

In [114]:
pocket = ['paper','phone']
card = True

if 'money' in pocket: print('택시')
elif card: print('택시')
else: print('걸어')

택시

In [119]:
score =90

if score >=60: print('합격')
else: print('불합격')

# 한줄로 표현하면 : 조건부 표현식
# 참인 경우 if 조건식 else 거짓인 경우
print('합격') if score>=60  else print("불합격")

합격
합격

In [120]:
# 퀴즈

if True:
  print('1')
  print('2')
else:
  print('3')
print('4')

1
2
4

In [121]:
# 퀴즈
if True:
  if False:
    print('1')
    print('2')
  else:
    print('3')
else:
  print('4')
print('5')

3
5

In [133]:
# 퀴즈 
# 숫자를 입력받고 짝수/홀수를 판별
# % 나머지 연산자로 홀수/짝수/배수를 알아낼 수 있다.

a = int(input('숫자 입력'))
if a % 2 == 0 :
  print('짝수')
else:
  print('홀수')

숫자 입력1
홀수

In [140]:
a = int(input('숫자입력'))
num=a+20

if num > 255:
  print(255)
else:
  print(num)

# if a == 200:
#   print(a+20)
# else :
#   print(255)

숫자입력300
255

In [147]:
a = int(input('숫자입력'))
num=a-20

if num < 0:
  print(0)
elif num > 0:
  print(num)
else:
  print(255)

숫자입력15
0

In [165]:
# 입력받은 시간이 정각인지 판별
a = input("시간을 입력")
b = a[-2:]
print(b)

if  b == '00' :
  print("정각")
else :
 print("정각이 아님")

시간을 입력02:10
10
정각이 아님

In [171]:
a = int(input("숫자입력"))
b = int(input("숫자입력"))

if a>b:
  print(b,a)
elif a<b:
  print(a,b)
else:
  print('다시 입력')

숫자입력8
숫자입력1
1 8

In [174]:
a = int(input("숫자입력"))
if a >= 20 : print("너무 높아")
else : print("감사")

숫자입력444444
너무 높아

In [180]:
a = input("좋아하는 색은?")

# if a == 'red':
#   print('빨간색 나도 좋아 ')
# else :
#   print('그색 싫어')


red = ['red','RED','Red']

if a in red:
  print('I like red too')
else:
  print(f"I don't like {a}, I prefer red")

좋아하는 색은?red
I like red too

In [186]:
age = int(input('나이를 입력하세용'))

if age >=18:
  print("투표할 수 있다.")
elif age == 17 :
  print("운전을 배워라")
elif age == 16 :
  print("복권을 살수있다")
else :
  print("사탕이나 사라  ㅎㅎㅎ")

나이를 입력하세용17
운전을 배워라

In [ ]:
a = int(input('1,2 또는 3 을 눌러라'))
if a == 1 :
  print("고맙군")
elif a == 2:
  print("잘했군")
elif a == 3:
  print("맞네")
else:
  print("잘눌러라")

In [189]:
a = input("첫번째 성은?")

if a :
  print(len(a))

첫번째 성은?young
5

In [191]:
a = input("단어입력?")
b = a.upper()  # 대문자로 바꾸기 .lower() 소문자로 바꾸기
print(b)

단어입력?apple
APPLE

In [ ]:
# Pig Latin takes the first consonant of a word.
# moves it to the end of the word and adds on an "ay".
# If a word begins with a vowel you just add "way" to the end.

# for example, 
# pig becomes igpay, banana becomes ananabay, 
# and aadvark becomes aadvarkway.
# Create a program that will ask the user to enter a word 
# and change it into Pig Latin.
# Make sure the new word is displayed in lowercase.