<a href="https://colab.research.google.com/github/leekwanghun323/python/blob/main/pythonbasic03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# 반복문 while for 

# while   : 무한반복된다. 그래서 탈출지점을 만들어주어야 한다.

# while 조건식 :
#   수행문

# while True:     # 무한반복
#   print('hello')

num = 0
while num <10:
  print(num, 'i love u')
  num += 1                  # num = num + 1        //num ++(자바에서 1개 증가)

0 i love u
1 i love u
2 i love u
3 i love u
4 i love u
5 i love u
6 i love u
7 i love u
8 i love u
9 i love u

In [7]:
coffee = 10

while True:
  print("커피 먹어")
  coffee = coffee - 1
  print(f"남은 커피는 {coffee}입니다.")
  if coffee == 0 :
    print("커피없다.")
    break    #  break를 만나는 순간 반복문을 빠져나간다.

커피 먹어
남은 커피는 9입니다.
커피 먹어
남은 커피는 8입니다.
커피 먹어
남은 커피는 7입니다.
커피 먹어
남은 커피는 6입니다.
커피 먹어
남은 커피는 5입니다.
커피 먹어
남은 커피는 4입니다.
커피 먹어
남은 커피는 3입니다.
커피 먹어
남은 커피는 2입니다.
커피 먹어
남은 커피는 1입니다.
커피 먹어
남은 커피는 0입니다.
커피없다.

In [11]:
# 1부터 10까지 숫자 중 홀수만 출력

num = 0

while num < 10:
   num += 1
   if num % 2 == 0 : continue    # contunue를 만나면 바로 반복문으로 다시 들어간다.  break를 만나면 반복문을 빠져 나간다.
   print(num)

1
3
5
7
9

In [12]:
# for 문 주로 반복 회수가 정확할 때 사용한다. 

li = ['1','2','3']

for i in li:
  print(i)

1
2
3

In [14]:
a = [(1,2),(3,4),(5,6)]

for item1, item2 in a:
  print(item1 + item2)

3
7
11

In [17]:
eng = [90,60,90,70,80]
id = 0

for score in eng:
  id += 1
  if score >=80:
    print(f'{id}번 합격')
  else:
    print(f'{id}번불합격')

1번 합격
2번불합격
3번 합격
4번불합격
5번 합격

In [24]:
eng = [90,60,90,70,80]
id = 0

for score in eng:
  id += 1
  if score < 80: continue
  print(f"{id}번 합격")

1번 합격
3번 합격
5번 합격

In [25]:
# for 문과 함께 많이 사용되는 range

print(range(10))               # 0 부터 10 미만까지(시작, 끝(미만))

range(0, 10)

In [27]:
for i in range(10):      # 시작이 0일경우 생략
  print(i)

0
1
2
3
4
5
6
7
8
9

In [35]:
#0부터 10까지의 합

sum = 0
for i in range(11):
  sum += i
print(sum)

55

In [41]:
# 구구단 출력

for i in range(2,10):
  for j in range(1,10):
    print(f'{i} * {j} = {i*j}', end = "\t ")                 # end = " " : 줄바꿈이 안되게 하는거  \t는 보기좋게
  print()                                                    # 단이 끝날때 마다 줄바꾸기

2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6	 2 * 4 = 8	 2 * 5 = 10	 2 * 6 = 12	 2 * 7 = 14	 2 * 8 = 16	 2 * 9 = 18
3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9	 3 * 4 = 12	 3 * 5 = 15	 3 * 6 = 18	 3 * 7 = 21	 3 * 8 = 24	 3 * 9 = 27
4 * 1 = 4	 4 * 2 = 8	 4 * 3 = 12	 4 * 4 = 16	 4 * 5 = 20	 4 * 6 = 24	 4 * 7 = 28	 4 * 8 = 32	 4 * 9 = 36
5 * 1 = 5	 5 * 2 = 10	 5 * 3 = 15	 5 * 4 = 20	 5 * 5 = 25	 5 * 6 = 30	 5 * 7 = 35	 5 * 8 = 40	 5 * 9 = 45
6 * 1 = 6	 6 * 2 = 12	 6 * 3 = 18	 6 * 4 = 24	 6 * 5 = 30	 6 * 6 = 36	 6 * 7 = 42	 6 * 8 = 48	 6 * 9 = 54
7 * 1 = 7	 7 * 2 = 14	 7 * 3 = 21	 7 * 4 = 28	 7 * 5 = 35	 7 * 6 = 42	 7 * 7 = 49	 7 * 8 = 56	 7 * 9 = 63
8 * 1 = 8	 8 * 2 = 16	 8 * 3 = 24	 8 * 4 = 32	 8 * 5 = 40	 8 * 6 = 48	 8 * 7 = 56	 8 * 8 = 64	 8 * 9 = 72
9 * 1 = 9	 9 * 2 = 18	 9 * 3 = 27	 9 * 4 = 36	 9 * 5 = 45	 9 * 6 = 54	 9 * 7 = 63	 9 * 8 = 72	 9 * 9 = 81

In [48]:
# 퀴즈 
# while문을 이용하여 1부터 1000까지의 자연수 중에서 3의 배수들의 합을 구하시오
num = 0
sum = 0

while num < 1000:
   if num % 3 == 0 :
     sum = sum + num
   num += 1
     
print(sum)

166833

In [53]:
# 퀴즈
# while문을 사용하여 * 삼각형을 만드세요
# *
# **
# ***
# ****
# *****
i=0
while True:
  i += 1
  if i > 5 :break
  print('*' * i)

*
**
***
****
*****

In [58]:
# 리스트 내포 (list comprehension)

a = [1,2,3,4]

result = []
for num in a :
  result.append(num*3)

print(result)

result2 = [num *3 for num in a]
print(result2)


# 조건식 까지 추가 가능
result3 = [num*3 for num in a if num % 2 == 0]
# 처리 순서  3         1            2
print(result3)

[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]

In [62]:
# 리스트 중에서 홀수만 2를 곱하여 리스트를 생성하세요

num = [1,2,3,4,5]
result = [num*2 for num in a if num % 2 == 1]
print(result)

[2, 6]

In [65]:
# while문을 사용하여 * 역삼각형을 만드세요
# *******
# ******
# *****
# ****
# ***
# **
# *


i=5

while i>0:
  print('*' * i)
  i=i-1

*****
****
***
**
*

In [67]:
# for 문을 사용하여 * 역삼각형을 만드세요
# *******
# ******
# *****
# ****
# ***
# **
# *

a=5
for i in range(0,5):
  print('*'*(5-i))
  i += 1

*****
****
***
**
*

In [147]:
# 줄의 갯수를 입력 받아서  *정삼각형을 만드세요
a = int(input("갯수 입력하세요"))


# 삼각형
# for i in range(0,a):
#   print('*' * (a-1))
#   a += 1

# 정삼각형

for i in range(1,a+1):
  print("" * (a-i),"*"*(2*i-1))

갯수 입력하세요4
 *
 ***
 *****
 *******

In [98]:
# 함수 (클래스 밖에서는 함수, 클래스 안에서는 메소드)

# def 함수이름(매개변수) :
#   수행 문장
#   수행 문장

# 1. 입력이 있고 리턴이 있는 함수
def add(a,b):
  return a + b

print(add(3,4))

# 2. 입력이 없고, 리턴도 없는 함수
def a():
  print('입력이 없고 리턴도 없는 함수')

a()

# 3. 입력이 있고, 리턴이 없는 함수
# def b(name):
#   print(name. '님을 환영합니다.')

# b('이광훈')

# 4. 입력이 없고, 리턴은 있는 함수
def c():
  return 'hi'

c()

7
입력이 없고 리턴도 없는 함수

'hi'

In [99]:
def add(a,b):
  return a + b

print(add(3,4))

def add2(a,b,c):
  return a + b +c

print(add2(3,4,5))

def add3(a,b,c,d):
  return a + b +c+d

print(add3(3,4,5,6))

7
12
18

In [102]:
def add_many(*args):   # *agre -> 입력된 값들을 모두 전부 모아서  튜플로 만들어 준다. 몇개가 들어오는 상관 안하겠다
                      # 가변 매개변수
  sum = 0
  for i in args:
    sum += i
  return sum

print(add_many(2,3,9,5))
print(add_many(2))

19
2

In [105]:
# 변수의 영향 범위

# 지역변수(***)와 전역변수    -> 지역변수를 쓰는 것이 좋다. 

a = 1              # a변수가 함수 밖에서 선언이 되었다. 전역변수
def vartest(a):    # 함수 안에서의 a는 함수 밖에서의 a와는 완전히 다른 변수이다. 
  a += 1

print(vartest(a))   # 2가 나와야하는데 none가 나온다. 이유는? return이 없기 때문에 가지고 나오는 값이 없다. 
print(a)            # 1      -> a가 전역변수(a=1)이기 때문에

None
1

In [108]:
a = 1             
def vartest(a):     
  a += 1
  return a         # 리턴 

print(vartest(a))  
print(a)

2
1

In [110]:
# 클래스와 객체

# 클래스 정의 
class Calculator:  
  def __init__(self):     # 더블 언더스코어 -> '던더 이닛' 이라고 한다.
    self.result = 0       # 생성자 constructor 객체를 생성할때 자동 호출되어 실행된다. 

  def add(self, num):     # 함수를 클래스 안에서 구현하면 메소드, 그 메소드를 객체가 호출하여 사용한다.
    self.result += num
    return self.result    # self -> 메서드의 매개변수 첫번째에 self를 사용하여 그 자리에는 호출한 객체명이 오게 된다. 
    

# 메소드를 객체로 생성
cal1 = Calculator()      # 객체를 생성할때 생성자가 호출되어 cal1.result = 0 으로 초기화된다. 
cal2 = Calculator()
cal3 = Calculator()

# 메소드 호출
print(cal1.add(4))   
print(cal2.add(7))
print(cal3.add(9))

4
7
9

In [114]:
print(cal1.add(4))   
print(cal2.add(7))
print(cal3.add(9))

20
35
45

In [116]:
print(cal1.add(2))

24

In [ ]:
# 객체와 인스턴스의 차이

# 클래스로 만든 객체를 인스턴스라고도 한다. 그러면 객체와 인스턴스의 차이는 무엇일까?
# a = Calculator() 이렇게 만든 a는 객체이다. 
# a는 calculator() 클래스로 만든 인스턴스이다. 
# 즉, 인스턴스라는 표현은 객체가 어떤 클래스로 만든 건지를 관계 위주로 설명할때 사용한다. 
# 다시 한번 표현하면, 'a는 인스턴스다' 라는 것은 어색하다. 이것보다 'a는 객체다' 라는 표현이 더 어울린다.
#'a는 Calculator 클래스의 객체다' 라는 표현보다는 'a는 Calculator 클래스의 인스턴스다' 라는 표현이 더 적절하다.

In [148]:
# 사칙연산 계산 클래스 -> 계산기 객체를 생성 -> 사칙연산은  메소드로 구현한다. 

class FourCal:
  def __init__(self,first,second):     # 생성자 ;객체 생성시 자동 실행
    self.first = first
    self.second = second

  # def setdata(self, first, second):  # 객체별 변수 선언 매서드
  #   self.first = first
  #   self.second = second

  def add(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

a = FourCal(4,2)
b = FourCal(3,5)

# a.setdata(4,2)
# b.setdata(3,5)

b.add()

# 객체마다 다른 고유의 변수값을 각각 따로 유지하게 된다.

8

In [149]:
# 상속 inheritance   자바에서는 다중상속을 지원하지 않는다. 파이썬은 다중상속을 지원한다.
# 상속을 사용하는 이유
# 상속은 기존 클래스를 변경하지 않고 기능을 추가하거나 기존 기능을 변경할 때 사용한다. 

class MoreFourCal(FourCal):
  pass

c = MoreFourCal(4,2)
c.add()

6

In [151]:
a = FourCal(4,0)  # 기존 클래스에 문제가 있다. 0으로 나누면 오류가 발생한다. 
a.div()

ZeroDivisionError: ignored

In [154]:
class SafeFourCal(FourCal):
  def div(self):                # 상속받은 FourCal 에 동일한 이름의 메소드를 자식 클래스가 오버라이드
    if self.second == 0:
      return 0
    else:
      return self.first / self.second

In [155]:
a = SafeFourCal(4,0)  
a.div()  # FourCal 클래스를 상속한 SafeFourCal클래스의 div가 호출되어 , 즉 자식의 매서드가 호출

0

In [144]:
# 클래스 변수 -> 사용하지 말자!!!

# 객체 변수는 다른 객체들에 영향을 받지 않고 독립적으로 그 값을 유지한다. (객체지향의 핵심)

class Family:
  lastname = "김"          # 클래스 변수

a = Family()               # 객체를 생성
print(a.lastname)                 # 객체를 통해서 변수 접근(메소드 접근)

b = Family()               # 객체를 생성
print(b.lastname)                 # 객체를 통해서 변수 접근(메소드 접근)

print(Family.lastname)              # 클래스 변수는 객체를 생성하지 않고도 클래스명.변수명 으로 접근 가능하다.

김
김
김

In [145]:
Family.lastname ="최"
print(a.lastname)
print(b.lastname)

최
최

In [ ]:
#